.divider {
    display: block;
    width: 100%;
    height: 40px;
    background-color: $blue;
    &__title {
        font-size: 19px;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        margin: 0px;
        line-height: 38px;
    }
    &__footer {
        height: 15px;
        background: #1749ba;
        margin-bottom: 0;
        &_small {
            height: 1px;
            background: #1749ba;
            margin-top: 5px;
        }
    }
    &__room {
        margin-top: 10px;
        width: 100%;
        height: 1px;
        background: #9a9a9a;
    }
}