$white: #FFFFFF; //белый цвет
$phone-hdr: #0086e7; //HOVER цвет телефона
$navbarGradient: linear-gradient(to bottom, #001b5a, #0e399e); //фон для навбара
$gray: #d1d2d6; // серый цвет (меню навбар)
$grayDark: #808080; //серый цвет темный
// $navBakHover: linear-gradient(to top, #00133b, #2c4688); // фон кнопки навбара при наведении
$navBakHover: linear-gradient(to top, #2c4688, #00133b);
$navGradientHover: #35539d; //HOVER градиент навббара
$mainBannerBack: linear-gradient(to right, #00309d, #000415); //цвет заднего фона главного блока
$blue: #1749ba; //цвет фона шапки в фильтре
$btn-search: linear-gradient(to top, #e45925, #ff9a74); //цвет кнопки поиска
$table-hdr-back: #dadeed; //задний фон шапки таблицы
$black: #4C4C4C; //черный цвет
$white-gradient: linear-gradient(to top, #FFFFFF, rgba(0, 0, 0, 0)); //белый градиент
$blue-light: #6e8cd2; //светлосиний
$blue-gradient: linear-gradient(to top, #a3c5f8, #87b4f9); //голубой градиент
$orange: #ffad66; //оранжевый цвет
$clr-office-free: #bfdcb0; // зеленый цвет кнопки "Свободно"
$blackBackground: rgba(0, 0, 0, 0.5); //задний фон модалки (подложка)
$million-clr: #709fdc; //цвет блока миллионной улицы
$red: #ff0000; //красный цвет
$blue-nikolskaya: #071739; //цвет блока никольской улицы
$sales-department: #878e9d; //серый цвет отдел продаж
$contacts-back-orenge: #d8670b; //оранжевый цвет контактов для страницы "продаем"
$moskovskoe-shosse: #071739; //фон московского шоссе
$smolniy-back: #274684; //фон на карточке смольного
$ekaterinovka-back: #709fdc; //фон екатериновка
$melnikovo-back: #071739; //фон, поселок мельниково
$ispolkomskaya-back: #274684; //исполкомская фон
$shadow: 2px 2px 4px 2px #9b9b9b;

