.rent {
    &__wrapper {
        display: flex;
    }
    min-height: 1800px;
    padding-top: 40px;
    &__choice__wrapper {
        display: flex;
    }
    &__kvarc__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__forum__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__atoll__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__choice {
        width: 387px;
        height: 332px;
        border: 1px solid $blue;
    }
    &__map {
        margin-left: 10px;
        width: 61%
    }
    &__another-room {
        margin-left: 45px;
        color: $blue;
        font-size: 18px;
        a {
            font-family: Arial, sans-serif;
            text-decoration: underline; 
        }
    }
    &__terms {
        display: block;
        color: $blue;
        font-size: 18px;
        text-decoration: none;
        margin-top: 75px;
        p {
            transition: 0.5s all;
        }
        :hover {
            color: #808080;
        }
        a {
            
            font-family: Arial, sans-serif;
        }
    }
    &__choice__large {
        width: 100%;
        height: 334px;
    }
}
.choice {
    &__header {
        padding-top: 5px;
        width: 100%;
        height: 31px;
        background-color: $blue;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
        line-height: 13px;
        font-weight: 600;
        font-family: liberation;
        font-size: 13px;
    }
    &__subheader {
        margin-bottom: 10px;
        margin-top: 30px;
        text-align: center;
        color: #103485;
        font-family: liberation;
        font-weight: 800;
        font-size: 14px;
    }
    &__input {
        display: block;
        margin: 0 auto;
        text-align: center;
        input {
            width: 26%;
        }
        
    }
}
.kvarc {
    &__link {
        text-decoration: none;
    }
    &__header {
        margin-top: 28px;
        display: block;
        width: 389px;
        height: 101px;
        background-color: $blue;
        font-size: 14px;
    }
    &__subheader {
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        font-size: 36px;
    }
    &__metro {
        display: flex;
        justify-content: center;
        color: #ffffff;
        &_icon {
            width: 14px;
            height: 11px;
            padding-top: 2px;
            padding-right: 6px;
        }
    }
    &__adress {
        color: #ffffff;
        text-align: center;
    }
    &__table {
        width: 389px;
        background: #dadeed;
        font-size: 13px;
        border-spacing: 0;
        text-align: center;
    }
    
}
.forum {
    &__link {
        text-decoration: none;
    }
    &__header {
        margin-top: 87px;
        display: block;
        width: 389px;
        height: 101px;
        background-color: $blue;
        font-size: 14px;
    }
    &__subheader {
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        font-size: 36px;
    }
    &__metro {
        display: flex;
        justify-content: center;
        color: #ffffff;
        &_icon {
            width: 14px;
            height: 11px;
            padding-top: 2px;
            padding-right: 6px;
        }
    }
    &__adress {
        color: #ffffff;
        text-align: center;
    }
    &__table {
        width: 389px;
        background: #dadeed;
        font-size: 13px;
        border-spacing: 0;
        text-align: center;
    }
    
}
.atoll {
    &__link {
        text-decoration: none;
    }
    &__header {
        margin-top: 87px;
        display: block;
        width: 389px;
        height: 101px;
        background-color: $blue;
        font-size: 14px;
    }
    &__subheader {
        padding-top: 10px;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        font-size: 36px;
    }
    &__metro {
        display: flex;
        justify-content: center;
        color: #ffffff;
        &_icon {
            width: 14px;
            height: 11px;
            padding-top: 2px;
            padding-right: 6px;
        }
    }
    &__adress {
        color: #ffffff;
        text-align: center;
    }
    &__table {
        width: 389px;
        background: #dadeed;
        font-size: 13px;
        border-spacing: 0;
        text-align: center;
    }
    
}
